<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
            <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
        {% endblock %}
    </head>
    <body>

        <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto">
                    
                    {# If statements for active class #}
                    <li class="nav-item {% if app.request.attributes.get('_route') == 'homepage' %}active{% endif %}">
                        <a class="nav-link" href="{{ path('homepage') }}">Home</a>
                    </li>

                    <li class="nav-item {% if app.request.attributes.get('_route') == 'userspage' %}active{% endif %}">
                        <a class="nav-link" href="{{ path('userspage') }}">Users</a>
                    </li>

                    <li class="nav-item {% if app.request.attributes.get('_route') == 'hellopage' %}active{% endif %}">
                        <a class="nav-link" href="{{ path('hellopage') }}">Hello</a>
                    </li>

                    <li class="nav-item {% if app.request.attributes.get('_route') == 'productpage' %}active{% endif %}">
                        <a class="nav-link" href="{{ path('productpage') }}">Products</a>
                    </li>

                    <li class="nav-item {% if app.request.attributes.get('_route') == 'registerForm' %}active{% endif %}">
                        <a class="nav-link" href="{{ path('registerForm') }}">Register Form</a>
                    </li>

                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>

        <div role="main" class="container">

            <!-- Portfolio Item Row -->
            <div class="row">
                <div class="col-lg-12">
                    {#<h1 class="page-header">{{ title }}
                        <small>{{ title }} Subheading</small>#}
                    </h1>
                </div>

            </div>
            <!-- /.row -->

            <div class="row">

                <div class="col-md-8">
                    {% block body %}{% endblock %}

                </div>

                <div class="col-md-4">
                    <h3>Project Description</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis dolores facilis iste iusto minus, molestiae mollitia nisi temporibus! Adipisci aliquam amet ea inventore iure maiores modi officia, perspiciatis ratione voluptatum.</p>
                    <h3>Project Details</h3>
                    <ul>
                        <li>Lorem Ipsum</li>
                        <li>Dolor Sit Amet</li>
                        <li>Consectetur</li>
                        <li>Adipiscing Elit</li>
                    </ul>
                </div>

            </div>
            <!-- /.row -->

            <!-- Related Projects Row -->
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="page-header">Related Projects</h3>
                </div>
            </div>



        </div><!-- /.container -->

        <div id="footer">

            {% block footer %}
               {% include('templates/footer.html.twig') %}
            {% endblock %}

        </div>

        {% block javascripts %}
            <!-- jQuery first, then Popper.js, then Bootstrap JS -->
            <script type="text/javascript" src="{{ asset('assets/js/jquery-3.2.1.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('assets/js/popper.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('assets/js/main.js') }}"></script>
        {% endblock %}
    </body>
</html>
